{% extends "layout.html" %}
{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex flex-column">
<div>
	{% if name %}
  <h2>Bonjour {{ name }} !</h2>
  <p>Vous serez contacté</p>
	{% else %}
		<h2>Bonjour bel inconnu :-)</h2>
	{% endif %}
</div>

<!-- météo -->
<div>
  <h2>Curieux de connaitre le temps qu'il fait ?</h2>
  <p>
    En ce moment à {{ ville }}, il fait {{ ((weather["currently"]["temperature"] - 32) * 5 / 9) }} °C
  </p>
  <p>
	Prévisions dans l'heure : {{ weather["hourly"]["summary"] }}
  </p>
</div>

<!-- Algorithme de préduction du salaire en fonction du nombre d'années -->
<div>
  <h2>Utilise mon algorithme :-) </h2>
  <form action = "{{ url_for('predict') }}" method = "POST">
    <div class="">
		<label> Quel est votre nombre d'années d'expérience ?</label>
      <input type="float" name="regression" placeholder="exemple : 5"/>
      <input type="Submit" value="Connaître mon salaire"/>
    </div>
  </form>
</div>
	
	<!-- lien permettant de retourner à l'accueil -->
	<div>
		<p><a class="btn-home" style="background-image: linear-gradient(white, #001490); color: white;" href="/">Home</a></p>
	</div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/resume.min.js"></script>

{% endblock %}
